* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	padding: 0px;
	text-align: justify;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

p, ul, ol {
	margin: 0px;
	padding: 0px;
	line-height: 23px;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
}

ul, ol {
	margin-left: 3em;
}

#header {
	height: 120px;
	margin: 0 auto;
	padding: 0px;
}


#logo {
	height: 64px;
	margin: 0 auto;
	padding-top: 12px;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -3px;
	font-weight: normal;
	font-size: 36px;
}

#logo p {
	margin: -8px;
	padding: 0px 0px 0px 12px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}

#logo span {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}

#logo a {
	text-decoration: none;
}

#page {
	margin: 0px auto;
	padding: 0px 0px 20px 0px;
}

/*#footer {
	width: 900px;
	margin: 0px auto;
	padding: 5px 0px;
}

#footer p {
	font-size: 10px;
}
*/
//for the tree

button{
  background: #fff;
  border: solid 1px #000;
  color: #000;
}

.tree-hover{
  background: #fdd;
}

.tree-item{
  padding: 2px;
  list-style: none;
}

.tree-item span:hover{
  background: #ddd;
  cursor: pointer;
}

.tree-item span{
  border-bottom: solid 1px #aaa;
}

form.tree-form {
	display: inline;
}
