<li id="<%= folder_entry.content.name %>" class="tree-item">
  <span><%= folder_entry.content.name %> </span>

  (+)(edit link)

  <%= render(:partial => "content_form", :locals => {:folder => folder_entry.content}) %>

  <% if folder_entry.children %>
    <ul>
      <%= render(:partial => "folder_entry", :collection => folder_entry.children) %>
    </ul>
  <% end %>
</li>
