<li>
  <% folder = folder_entry.content %>

  (+) <%= link_to folder.name, edit_admin_inkling_folder_path(folder) %>

  <%= render(:partial => "content_form", :locals => {:folder => folder}) %>
</li>
