<li id="<%= path.id %>" class="tree-item">
  <span><%= path.content.name %> </span>

  <%= render(:partial => "content_form", :locals => {:path => path}) %>

  <% if path.children %>
    <ul>
      <%= render(:partial => "path", :collection => path.children) %>
    </ul>
  <% end %>
</li>
