<h2>Core</h2>
<ul>
	<li><%= link_to 'Users', inkling_admin_users_path %></li>
	<li><%= link_to 'Roles', inkling_admin_roles_path %></li>
	<li><%= link_to 'Workflows' %></li>        
	<li><%= link_to 'Content Types', inkling_admin_content_types_path %></li>	
</ul>

