<div id="tree-message"></div>

<div id="content-form">
  <% unless @content_types.empty? %>
    <%= render(:partial => "content_form") %> (Add top level content)
  <% else %>
    There are no Inkling Types loaded.
  <% end %>
</div>

<p>  
<ul id="tag-tree">
  <%= render(:partial => "path", :collection => @roots) %>
</ul>
