<div id="tree-message"></div>

<%= render(:partial => "content_form") unless @content_types.empty? %> (Add top level content)

<p>  
<ul id="tag-tree">
  <%= render(:partial => "path", :collection => @roots) %>
</ul>



<% content_for :js do %>
  <% javascript_tag do %>

    // shows the content form
    function toggle_content_form(id){
    content_form = document.getElementById("content-form-" + id)
//    content_form = $("#content-form-" + id)

    if (content_form.style.display == "none")
      content_form.style.display = "block"
    else
      content_form.style.display = "none"
    }
  <% end %>
<% end %>
